# Dependencies
node_modules/
**/node_modules/

# Database 
packages/backend/*.db
packages/backend/*.db-shm
packages/backend/*.db-wal

# Environment variables
.env
**/.env

# Vite build output
packages/frontend/dist/

# OS junk
.DS_Store
Thumbs.db

# Electron build output
dist-electron/

# Electron builder cache
.electron-builder.env

# electron-builder temp files
electron/icons/*.icns
electron/icons/*.ico

# Editor
.vscode/
.idea/